<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Certified Copy">
        <form #adRequestForm="ngForm">
        <div class="col-12 md:col-12 lg:col-12">
            <p-tabView [(activeIndex)]="activeTabIndex">
                <p-tabPanel header="Search Document">
                        <div #row1 class="col-12 md:col-12 lg:col-12">
                            <div class="p-fluid grid">
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="docOptions" [(ngModel)]="docType" name="_doctype">
                                        </p-dropdown>
                                        <label for="_doctype">Document Type</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <input type="text" name="_docno" pInputText
                                            [(ngModel)]="docNumber" required />
                                        <label for="_docno">Document No</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="subregOptions" [(ngModel)]="subregOfce" name="_subreg">
                                        </p-dropdown>
                                        <label for="_subreg">Sub registrar Office</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="yearOptions" [(ngModel)]="year" name="_year">
                                        </p-dropdown>
                                        <label for="_year">Year</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="bookOptions" [(ngModel)]="bookNo" name="_bookno">
                                        </p-dropdown>
                                        <label for="_bookno">Book No.</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="_typeCaptcha">Type the code shown below</label>
                                    <input type="text" name="_typeCaptcha" pInputText [(ngModel)]="typeCaptcha" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12 to-center">
                            <button pButton type="button" label="Search"></button>&nbsp;
                            <button pButton type="button" label="Reset"></button>
                        </div>

                </p-tabPanel>
                <p-tabPanel header="Personal Details">

                </p-tabPanel>
                <p-tabPanel header="Payment">

                </p-tabPanel>
            </p-tabView>
        </div>
    </form>
    </p-panel>
</div>