<div class="col-12 md:col-12 lg:col-12 hdr-div">
    <div class="grid">
        <div class="col-2 md:col-2 lg:col-2">
            <img src="assets/images/TN_Govt_Logo.png"  style="width: 85%; height: 100%;"/>
        </div>
        <div class="col-8 md:col-8 lg:col-8" style="margin-top: 2%; font-weight: 500;text-shadow: 2px 2px #183e02;">
            <span>IGRS (TNREGINET)</span><br/>
            <span>Registration Department</span>
        </div>
        <div class="col-2 md:col-2 lg:col-2 hdr-user-icon" style="margin-top: 2%;">
            <span><i class="pi pi-user"></i></span>
        </div>
    </div>
</div>