<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Adjudication Details">
        <div class="col-12 md:col-12 lg:col-12">
            <form #adRequestForm="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" name="_appNo" pInputText [(ngModel)]="appNumber" required />
                                <label for="_appNo">Application Number</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Search"></button>&nbsp;
                    <button pButton type="button" label="Reset"></button>
                </div>
            </form>
        </div>
    </p-panel>
</div>