<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Guideline Value">
        <div #row1 class="col-12 md:col-12 lg:col-12">
            <div class="title-hdr" style="border-bottom: 1px solid;">
                <span> Guideline value & property valuation </span>
            </div>
            <p style="font-size: 14px;">
                Guideline value register is available with the Registering officer.
                Ascertain the guideline value of the property and the Stamp Duty, Registration Fees etc, to be paid with
                the Registering officer.
            </p>
            <div *ngIf="!showSearch" class="bdr-blue">
                <div class="div-hdr-bg">Guideline Search</div>
                <div class="col-12 md:col-8 lg:col-8 to-center" *ngFor="let i of list"
                    style="border-bottom: 1px solid;">
                    <div class="cursor" (click)="onShowSearch(i)">{{i.title}}</div>
                </div>
            </div>
            <div *ngIf="showSearch" class="col-12 md:col-12 lg:col-12">
                <div class="bdr-btm-blue">
                    <span>From:</span>&nbsp; <span>{{fromDate}}</span> &nbsp;&nbsp;
                    <span>To:</span>&nbsp; <span>{{toDate}}</span>
                </div>
                <div style="margin-top: 5px;">
                    <span class="title-hdr">View Guideline value for: </span>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                    <div class="field col-12 md:col-12 lg:col-12">
                        <p-radioButton name="streetNo" value="0" label="Street No" [(ngModel)]="selectedValue">
                        </p-radioButton>&nbsp;
                        <p-radioButton name="surveyNo" value="1" label="Survey No" [(ngModel)]="selectedValue">
                        </p-radioButton>&nbsp;
                    </div>
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="p-fluid grid">
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="zoneOptions" [(ngModel)]="zone" name="_zone">
                                    </p-dropdown>
                                    <label for="_zone">Zone</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="subRegistrarOptions" [(ngModel)]="subRegistrar"
                                        name="_subRegistrar">
                                    </p-dropdown>
                                    <label for="_subRegistrar">Sub Registrar Office</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="registrationVillageOptions" [(ngModel)]="registrationVillage"
                                        name="_registrationVillage">
                                    </p-dropdown>
                                    <label for="_registrationVillage">Registration Village</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-12 to-center">
                        <button pButton type="button" label="Search"></button>&nbsp;
                        <button pButton type="button" label="Reset"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div>