<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Citizen Charter">
        <div class="col-12 md:col-12 lg:col-12">
            <b>DO YOU KNOW?</b>
            <p><b>SERVICES PROVIDED TO THE REGISTRANT PUBLIC:</b><br>
                1. Registration of documents.<br>
                2. Issuing of certified copies of documents already registered.<br>
                3. Issuing of encumbrance certificate.<br>
                4. Registration of societies.<br>
                5. Registration of firms.<br>
                6. Monitoring of Chit activities.<br>
                7. Issue of extracts of Births & Deaths.<br>
                8. Registration of Hindu marriage, which have been solemnized elsewhere.<br>
                9. Filing of marriages under Tamilnadu Registration of Marriages Act.<br>
                10. Solemnization and registration of special marriages <br>
                11. Issuing of marriage certificate under respective marriages act.<br>
                12 .Issue of extracts of marriages registered under Indian Christian Marriages Act.<br>
                13.Registration of Parsi Marriage.
            </p>
            <p>
                <b> THE SERVICES PROVIDED THROUGH THE DEDICATED 24*7 WEBSITE OF REGISTRATION DEPARTMENT</b>
                www.tnreginet.gov.in
                <br>
                1.Online submission of EC application, Certified Copy Application, Marriage certificate application.<br>
                2.Issue of Encumbrance Certificate, Marriage Certificate, Society Records, Certified copy of Registered
                document.<br>
                3.Details of Societies, Chits, Firms registered.<br>
                4.Details of Hindu Marriages registered.<br>
                5.Guideline Value for the years 2002,2003, 2007, 2012 along with the present values that which is with
                effect from 09.06.2017 for all villages and towns.
            </p>
            <div><b>REGISTRATION OF DOCUMENTS.</b>
                <div><b>
                        REQUIREMENTS FOR PRESENTING A DOCUMENT FOR REGISTRATION.
                        Executed document.</b>
                    <p> Patta Transfer application with court fee label of Rs. 10/-.
                        M notice in the case of buildings.
                        Photo copy of Identity Cards for all executants and for power of attorney document, copy of the
                        Identity Cards of witnesses should also be enclosed as part of the document
                        Original Identity Cards should be produced to the Registering Officer for verification
                        Details of PAN number of the Seller and Purchaser in case the value of the property stated in
                        the document exceeds Rs.5 Lakhs.<br>
                        OR
                        <br>
                        Form 60/61 Statement in case PAN/GIR Number is not available.
                        Application under Section 41 of Indian Stamp Act, if the proper/deficit Stamp Duty is to be paid
                        by Cash/DD.
                        If the document is undervalued three self addressed sufficiently stamped cover for the purpose
                        of sending notices to the purchaser by registered post by the Special Deputy Collector/ DRO
                        (Stamps) and FMB/Topo sketch of the field concerned has to be produced.
                        FMB / Topo sketch of the field, if the conveyed extent is below 20 cents or when the registering
                        officer suspects the property to be a house site.
                        NOC from concerned Authorities if the Sub Registrar suspects that the land belong to Government/
                        HR&CE/ Wakf board
                        Patta Patta Pass Book/10(1) Statement received from Tashildar through computer-for agricultural
                        property in Notified 9 Districts.
                        Registration fee along with Computerization fee of Rs 100/-.
                        Sub-division fees etc.
                        The Registering officer shall give receipts for all amounts paid to him.
                    </p>
                </div>
            </div>
        </div>
    </p-panel>
</div>