<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Search Encumbrance Certificate">
        <div class="col-12 md:col-12 lg:col-12">
            <form #ecSearchForm="ngForm">
                <div class="field col-12 md:col-12 lg:col-12">
                    <p-radioButton name="ecwise" value="0" label="EC" [(ngModel)]="selectedValue"></p-radioButton>&nbsp;
                    <p-radioButton name="docwise" value="1" label="Documentwise" [(ngModel)]="selectedValue">
                    </p-radioButton>&nbsp;
                    <p-radioButton name="plotwise" value="2" label="Plotwise" [(ngModel)]="selectedValue">
                    </p-radioButton>
                </div>
                <div #common *ngIf="selectedValue!='1'">
                    <div #row1 class="col-12 md:col-12 lg:col-12">
                        <div class="p-fluid grid">
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="zoneOptions" [(ngModel)]="zone" name="_zone">
                                    </p-dropdown>
                                    <label for="_zone">Zone</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="districtOptions" [(ngModel)]="district" name="_district">
                                    </p-dropdown>
                                    <label for="_district">District</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="subRegistrarOptions" [(ngModel)]="subRegistrar"
                                        name="_subRegistrar">
                                    </p-dropdown>
                                    <label for="_subRegistrar">Sub Registrar Office</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="ecStartDate" name="_ecStartDate" [showIcon]="true">
                                    </p-calendar>
                                    <label for="_ecStartDate">EC Start Date</label>
                                </span>
                            </div>
                            <div class="col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="ecEndDate" name="_ecEndDate" [showIcon]="true">
                                    </p-calendar>
                                    <label for="_ecEndDate">EC End Date</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div #row2 class="field col-12 md:col-12 lg:col-12 box-light">
                        <div class="field" style="padding-bottom: .5rem;"> Survey Details: </div>
                        <div class="p-fluid grid">
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="villageOptions" [(ngModel)]="village" name="_village">
                                    </p-dropdown>
                                    <label for="_village">Village</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <input type="text" name="_surveyNo" pInputText [(ngModel)]="surveyNo" required />
                                    <label for="_surveyNo">Survey No</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <input type="text" name="_subDivisionNo" pInputText [(ngModel)]="subDivisionNo"
                                        required />
                                    <label for="_subDivisionNo">Sub Division No</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12 to-center">
                            <button pButton type="button" label="Add"></button>
                        </div>
                    </div>
                </div>

                <div #doc *ngIf="selectedValue=='1'">
                    <div #row1 class="col-12 md:col-12 lg:col-12">
                        <div class="p-fluid grid">
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="subRegistrarOptions" [(ngModel)]="docSubRegistrar"
                                        name="_dsubRegistrar">
                                    </p-dropdown>
                                    <label for="_dsubRegistrar">Sub Registrar Office</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <input type="text" name="_documentNo" pInputText [(ngModel)]="documentNo"
                                        required />
                                    <label for="_documentNo">Document No</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="yearOptions" [(ngModel)]="year"
                                        name="_year">
                                    </p-dropdown>
                                    <label for="_year">Year</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 lg:col-2">
                                <span class="p-float-label">
                                    <p-dropdown [options]="documentTypeOptions" [(ngModel)]="documentType"
                                        name="_documentType">
                                    </p-dropdown>
                                    <label for="_documentType">Sub Registrar Office</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div #plot *ngIf="selectedValue=='2'">
                    <div #row3 class="col-12 md:col-12 lg:col-12">
                        <div class="grid">
                            <div class="field col-8 md:col-6 lg:col-6">
                                <span class="p-float-label">
                                    <input type="text" name="_plotNo" pInputText [(ngModel)]="plotNo" required />
                                    <label for="_plotNo">plot No</label>
                                </span>
                            </div>
                            <div class="col-4 md:col-12 lg:col-12 to-center height-fit-to-content">
                                <button pButton type="button" label="Add"></button>
                            </div>
                        </div>
                    </div>
                    <div #row4 class="col-12 md:col-12 lg:col-12">
                        <div class="grid">
                            <div class="col-8 md:col-6 lg:col-6">
                                <span class="p-float-label">
                                    <input type="text" name="_flatNo" pInputText [(ngModel)]="flatNo" required />
                                    <label for="_flatNo">Flat No</label>
                                </span>
                            </div>
                            <div class="col-4 md:col-12 lg:col-12 to-center height-fit-to-content">
                                <button pButton type="button" label="Add"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div #ec>
                    <div #row5 class="col-12 md:col-12 lg:col-12">
                        <div class="field col-12 md:col-6 lg:col-6">
                            <label for="_typeCaptcha">Type the code shown below</label>
                            <input type="text" name="_typeCaptcha" pInputText [(ngModel)]="typeCaptcha" required />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </p-panel>
</div>