<div class="col-12 md:col-12 lg:col-12">
    <p-card>
        <div class="col-12 md:col-12 lg:col-12 no-pad-rt">
            <div class="grid to-center">
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg1">
                    <img src="assets/images/wedding-couple.png" />
                    <span class="dsh-icons-title">Marriage Registration</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg2">
                    <img src="assets/images/society.png" />
                    <span class="dsh-icons-title">Society Registration</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg3">
                    <img src="assets/images/judgement.png" />
                    <span class="dsh-icons-title">Adjudication Registration</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 no-pad-rt">
            <div class="grid to-center">
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg4">
                    <img src="assets/images/tokens.png" />
                    <span class="dsh-icons-title">Token Availability</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg5">
                    <img src="assets/images/award.png" />
                    <span class="dsh-icons-title">Encumbrance Certificate</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg6">
                    <img src="assets/images/certified.png" />
                    <span class="dsh-icons-title">Certified Copy</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 no-pad-rt">
            <div class="grid to-center">
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg7">
                    <img src="assets/images/circular.png" />
                    <span class="dsh-icons-title">Circulars</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg8">
                    <img src="assets/images/guidelines.png" />
                    <span class="dsh-icons-title">Guideline Value</span>
                </div>
                <div class="col-3 md:col-3 lg:col-3 dsh-icon-div dsh-grid-bg9">
                    <img src="assets/images/help.png" />
                    <span class="dsh-icons-title">Help</span>
                </div>
            </div>
        </div>
    </p-card>
</div>