/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-green/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

html, body { height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-padding {
    padding: 0 !important;
}

.no-pad-lt {
    padding-left: 0 !important;
}
.no-pad-rt {
    padding-right: 0 !important;
}
.no-pad-top {
    padding-top: 0 !important;
}
.no-pad-btm {
    padding-bottom: 0 !important;
}

.dsh-icon-div {
    border-radius: 10px;
    border: 5px solid #ffffff;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 0%), 0 1px 3px 0 rgb(0 0 0 / 4%);
    // width: 30% !important;
}
.dsh-icons-title {
    // font-size: 13px;
    // font-weight: 600;
    // color: rgb(32, 30, 30);
    font-size: 1.5vw;
    font-weight: 400;
    color: #fff1f1;
}
@media screen and (max-width: 600px) {
    .dsh-icons-title {
      font-size: 3.5vw;
    }
  }
  @media screen and (min-width: 710px) {
    .dsh-icons-title {
      font-size: 2.5vw;
    }
  }
.to-center {
    display: flex;
    justify-content: center;
}
.dsh-grid-bg1 {
    background: #d63384;
}
.dsh-grid-bg2 {
    background: #ffcd36;
}
.dsh-grid-bg3 {
    background: #dc3545;
}
.dsh-grid-bg4 {
    background: #4ad3ab;
}
.dsh-grid-bg5 {
    background: #b586cd;
}
.dsh-grid-bg6 {
    background: #459e74;
}
.dsh-grid-bg7 {
    background: #3bd4f3;
}
.dsh-grid-bg8 {
    background: #ffe255;
}
.dsh-grid-bg9 {
    background: #4770ad;
}
.hdr-div {
    background: #438c41;
    text-align: center;
    color: whitesmoke !important;
    height: 5rem;
}
.footer {
    position: fixed;
    bottom: 0 !important;
    font-size: 14px;
    height: 45px;
}
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label,
 .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label
 .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label  {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.box-light {
    border: 1px solid #e7f3ec;
    border-radius: 5px;
}

label {
    color: #6c757d;
}

input {
    width: -webkit-fill-available !important;
}

.height-fit-to-content {
    height: fit-content !important;
}

